.container{
    padding: 0 100px;
}
.title{
    font-size: 30px;
    border-bottom: 4px solid green;
    width: max-content;
} 
.subtitle{ 
    font-size: 50px;
   color: rgb(2, 73, 2);  
}
.services{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.media{
    width: 85%; 
    height: 85%;
    border-radius: 50%;
    overflow: hidden;
    /* animation */
    transition: all 1s ease;
}
.service{
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 50px; 
  background-color: whitesmoke;
  position: relative;
}
.cat{
    position: absolute;
    top: 10px;
    left: 10px;
    color: gray;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
}
.service:hover .media{
    transform: scale(1.1);
}
.desc{
    width: 70%;
    text-align: center; 
    position: absolute;
    z-index: 999;
    background-color: rgba(189, 183, 183, 0.5);
    border-radius: 10px; 
    padding: 20px;
    /* to hide */
    opacity: 0; 
    transition: all 1s ease;
} 
.service:hover .desc{
/* to display */
opacity: 1;
}
@media screen and (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    .services {
      justify-content: center;
    }
  
    .service {
      width: 300px;
      height: 300px;
    }
  }