.container{
    height: 250px;
    border-top: 3px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 50px;
}       
.title{
    font-weight: 400;
    color: white;
    background-color: rgba(0, 128, 0, 0.774);
    padding: 5px;
    width: max-content;
    border-radius: 25px;

}
.title:hover {
    background-color: white;
    color: rgba(0, 128, 0, 0.774);
  }
.links{ 
    text-decoration: underline;
    align-items: center; 
    display: flex;
    transform-origin: left;
  transition: all 1s ease;
}
.links:hover{
    transform: scale(1.1);
}
.linkT{
    margin-right: 20px; 
    cursor: pointer;  
}
.cardB{
    flex: 2;
}
.cardS{
    flex: 1;
}
.cardItem{
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .container {
      height: auto;
      flex-direction: column;
    }
  
    .title,
    .links{
      font-size: 30px;
    }
  
    .cardItem{
      text-align: center;
    }
  }