.container{
    height: 50px;
    background-color: gray;
    color: white;
    display: flex;
    opacity: 0.6;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-size: 18px; 
    position: relative;
  overflow: hidden;
}
.listItem{
    display: inline;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
    cursor: pointer;
}
.logo{
    width: 40px;
    height: 40px;
    transition: all 1s ease;
}
.logo:hover{
     transform: scale(1.1);
}
.hamburger {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  
  .menu {
    display: none;
    position: fixed;
    width: 50vw;
    height: calc(100vh - 50px);
    background-color: black;
    top: 50px;
    /* right: 0px; */
    z-index: 9999;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: lightgray;
    list-style: none;
    transition: all 1s ease;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      padding: 0px 20px;
    }
  
    .listItem {
      display: none;
    }
  
    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }